/*Linka Favela - Hakgueto 2021 */

:root {
    --verde-escuro: #01595A;
    --branco: #fff;
    --cinza-claro: #f1f1f1;
    --laranja: #F2B56B;
    --marron: #733729;
}

.body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size:16px;
}

.card-position {
    float: left;
    
}

.card-position {
    float: left;    
}

.card-position a {
   text-decoration: none;
   color: var(--cor);
}
.navegacao a:hover,
#contato a:hover,
#sobre a:hover,
#servicos a:hover,
#portfolio a:hover,
#home a:hover,
#resumo a:hover,
.card-position a:hover {
  color: var(--laranja);
  text-decoration: none;
  font-weight:500;  
}

.navegacao a {
    color: var(--cor);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 0;
    margin-right: 1rem;   
  }

  .bg-principal {
    background-color: var(--verde-escuro);     
    height:85vh;
}

.bg-principal img {
    width:auto;
    height:auto;
}

.espaco-editais {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
}

.margin-search {
     margin-left: 2.5rem;
     margin-right: 2.5rem;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width:inherit;
    text-align:center;
    color: var(--branco);    
}

.controls-top {
    text-align: center;
    margin-bottom: 1.88rem;
}

