/*Linka Favela - Hakgueto 2021 */

:root {
    --verde-escuro: #01595A;
    --branco: #fff;
    --cinza-claro: #f1f1f1;
    --laranja: #F2B56B;
    --marrom: #733729;
    --preto: #000;
    --azul: #043166;
    --vinho: #590A42;
}

html, body {
    scroll-behavior: smooth;
  }

.body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size:16px;
    position:relative;
}

.card-position {
    float: left;
    
}

.card-position {
    float: left;    
}

.card-position a {
   text-decoration: none;
   color: var(--cor);
}

.navegacao a:hover,
#contato a:hover,
#sobre a:hover,
#servicos a:hover,
#portfolio a:hover,
#home a:hover,
#resumo a:hover,
footer a,
.card-position a:hover {
  color: var(--laranja);
  text-decoration: none;
  font-weight:500;  
}

.navegacao a {
    color: var(--cor);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 0;
    margin-right: 1rem;   
  }

.carousel-indicators {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 100%;
    margin-bottom: -2%;
  }

  .carousel-navigation {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 100%;
    margin-top: -2%;
  }

  .bg-verde {
    background-color: var(--verde-escuro);    
    
}

.bg-cinza {
    background-color: var(--cinza-claro);
}

.bg-tutorial {
    background-color: var(--laranja);
}

.espaco-editais {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
}

.margin-search {
     margin-left: 2.5rem;
     margin-right: 2.5rem;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width:inherit;
    text-align:center;
    color: var(--branco);    
}

.controls-top {
    text-align: center;
    margin-bottom: 1.88rem;
}

.espaco-sobre {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  } 
  
  .divisoria {
    border-bottom: 1px solid var(--preto);
  }

  .icones-rodape {
    font-size:2.5rem;
    color: var(--verde-escuro);
    margin: 2rem 0;
  }

  .shadow-box {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  }

  .shadow-box a {
      text-decoration: none;
      color: var(--azul);
  }

  .shadow-box a:hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--vinho);
}